h1,
h2,
h3,
h4,
h5,
h6{
  font-family: 'Yesteryear', cursive, Arial, serif;
  margin-bottom: 0;
  text-align: center;
}

body{
  margin: 5%;
}

p{
  font-family: 'Open Sans Condensed', Arial, sans-serif;
  font-size: 16px;
  line-height:1.5em;
  margin: 0;
  display: inline-block;
}

.col-6{
  float: left;
  margin-right: 3%;
  width:46.98%;
}

div{
  text-align: center;
  margin: auto;
}

img{
  height: 300px;
  width: 300px;
  list-style: none;
  border-radius: 50%;
}

@media only screen and (max-width: 600px){
  .p {
    display: block;
    width: 100%;
    margin: auto;
  }
  .col-6{
    margin: auto;
    width: 100%;
  }
  img{

  }
}




/*.container {
  padding: 0 20px;
}

.row {
  width: 1140px;
  margin: auto;

}

/**
  * Width: 1140
  * Margin: 3%

.col-1{
  float: left;
  width: 5.33%
  margin-right: 3%
}
.col-2{
  float: left;
  margin-right: 3%;
  width: 13.66%;
}
.col-3{
  float: left;
  margin-right: 3%;
  width: 21.99%
}

.col-4{
  float: left;
  margin-right: 3%;
  width: 30.32%
}

.col-5{
  float: left;
  margin-right: 3%;
  width: 38.65%;
}
.col-6{
  float: left;
  margin-right: 3%;
  width:46.98%;
}
.col-7{
  float: left;
  margin-right: 3%;
  width:55.31%;
}

.col-8{
  float: left;
  margin-right: 3%;
  width:63.64;

}.col-9{
  float: left;
  margin-right: 3%;
  width:71.97;

}
.col-10{
  float: left;
  margin-right: 3%;
  width: 80.30%;
}

.col-11{
  float: left;
  margin-right: 3%;
  width:88.63%;
}

.col-12{
  float: left;
  margin-right: 0;
  width:100%*/

@media only screen and (max-width: 940px){
  .responsive {
    transform: rotate(11775deg);
    transition: all 15s ease-in-out;
  }
}

.mobile{
  display: none;
}

@media handheld, only screen and (max-device-width: 450px){
  .mobile {
    display: block;
    font-size: 4em;
    color: red;
  }
}
